.error{
    color: red;
    font-size: 20px;
}
.user{
    color: blue;
    font-size: 15px;
}
table {
    border: 2px solid black;
}
table, tr, td {
    border: 1px solid black;
}
background{
    color: antiquewhite;
}