<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quizowanie</title>
    <link rel="stylesheet" href="/static/styles.css"/>
</head>
<body>
<h3>Answers</h3>

<table>
    <tr th:each="art : ${answer}">
    <!--<td th:text="${question.getAnswers()}">Id</td>-->
    <td th:text="${answer.text}">text</td>
    <td th:text="${answer.isCorrectAnswer}">true/false</td>
    <td th:text="${answer.sign}">Sign</td>
    <td th:text="${answer.createdDate}">Date</td>
    <!--</tr>-->
</table>
</body>
</html>
