<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot MVC Security using Thymeleaf</title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<h3>User Articles Details</h3>

<table>
    <tr th:each="art : ${question}">
        <td th:text="${art.getAnswers()}">Id</td>
        <td th:text="${art.sign}">Numer</td>
        <td th:text="${art.isValid}">true/false</td>
        <td th:text="${art.text}">Text</td>
    </tr>
</table>
</body>
</html>