<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quizowanie</title>
    <link rel="stylesheet" href="/static/styles.css"/>
</head>
<body>
<h3>Questions</h3>

<table>
    <!--<tr th:each="art : ${question}">-->
        <!--<td th:text="${question.getAnswers()}">Id</td>-->
        <td th:text="${question.sign}">Numer</td>
        <td th:text="${question.isValid}">true/false</td>
        <td th:text="${question.text}">Text</td>
    <!--</tr>-->
</table>
</body>
</html>